:root{
  --bg-color:#F5F5F5;
  --text-color:#0F1621;
  --secondary-color:#23856D;
  --light-btn:#E6E6E6;
  --dark-btn:transparent;
  --vector: url('./img//Vector_light.png')
}

body[data-theme="light"]{
  --bg-color:#F5F5F5;
  --text-color:#0F1621;
  --secondary-color:#23856D;
  --light-btn:#E6E6E6;
  --dark-btn:transparent;
  --vector: url('./img//Vector_light.png')
}

body[data-theme="dark"]{
  --bg-color:#0F1621;
  --text-color:#F5F5F5;
  --secondary-color:#23856D;
  --light-btn:#29303C;
  --dark-btn:transparent;
  --vector: url(./img//Vector.png);
}

body {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  background-image: var(--vector);
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}