body {
    background-color: #0F1621;
    background-image: url(\Vector.png);
    background-size: cover;
    color: azure;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Poppins';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }