.progress{
    width: 500px;
    padding: 40px;
    /* background-color: #F5F5F5; */
    border:none;
    border-radius: 10px;
}

.mainProgress{
    width: 210px;
    height: 210px;
    position:relative;
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    background-image: url(/public/progress.png);
    background-size:cover;
}

.mainProgress p{
    font-size: 50px;
    font-weight: lighter;
}

.infoProgress p{
    font-size: 15px;
    font-weight: lighter;
    display: flex;
    align-items: center; 
    gap:7px;
    color:#23856D;
}

.highlight {
    color: #949494; 
}

.infoProgress .bottomInfo{
    display: flex;
    justify-content: space-between;
}

.infoProgress .bottomInfo p{
    font-size: 19px;
    color:var(--text-color);
}
.infoProgress .bottomInfo p .count{
    font-weight: bold;
    color:#EC5C2E;
}
