.footer{
    display: flex;
    justify-content: space-between;
    height: 414px;
    background-color: #0F1621;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer .firstColumn{
    margin: auto;
    width: 210px;
}

.footer .firstColumn p{
    color: #737373;
}

.footer .firstColumn .social{
    display: flex;
    gap: 15px;
}

.footer .secondColumn{
    margin:auto;
    display: flex;
}

.footer .secondColumn .leftColumn{
    margin-right: 90px;
}

.footer .secondColumn .leftColumn ul{
    list-style: none;
    margin: 0;
    padding: 0;
    color: #737373;
    font-weight: bold;
}

.footer .secondColumn .leftColumn ul li{
    margin-bottom: 10px;
}

.footer .secondColumn .rightColumn ul{
    list-style: none;
    margin: 0;
    padding: 0;
    color: #737373;
    font-weight: bold;
}

.footer .secondColumn .rightColumn ul li{
    margin-bottom: 10px;
}

.secondFooter{
    background-color: #252B42;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}